body {
    background: linear-gradient(45deg, #92effd, blue);
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    width: 125px;
    border-radius: 14px;
    box-shadow: 10px 10px 14px rgb(red, green, blue);
}

.info-text {
    margin-left: 40px;
}
.img3 {
    width: 30px;
    border-radius: 50px;
    margin-right: 00.5cm;
}

.avatar2 {
    width: 50px;
    border-radius: 50px;
    margin-right: 0.5cm;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info p {
    color: rgb(79, 42, 113);
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
   /* text-transform:*/
   letter-spacing: 10 px;
}

.cont {
    width: 65%;
    margin: auto;
    padding-top: 20px;
}


/*.contact {
    background: darkseagreen;
    padding: 15px;
    border: 2 px solid black;
    margin: 30px;
    text-decoration: none;}*/

    a {
        color: rgb(22, 23, 73);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        color: red;
    }

    /*a:visited {
        color: grey;
    }*/

.card {
    max-width: 300px;
    padding: 15px 20px;
    background-color: rgb(33, 200, 33);
    margin-bottom: 20px;
    border-radius: 20px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}
   .list {
    padding: 0 20px;
   }

   .table {
    width: 100%;
    text-align: center;
   }